---
interface Props {
	date: Date
}

const { date } = Astro.props
---

<div class="flex items-center space-x-1 text-xs text-gray-600">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<rect
			width="18"
			height="18"
			x="3"
			y="4"
			rx="2"
			ry="2"
		></rect>
		<path d="M16 2v4M8 2v4M3 10h18M8 14h.01M12 14h.01M16 14h.01M8 18h.01M12 18h.01M16 18h.01"
		></path>
	</svg>
	<time datetime={date.toISOString()}>
		{
			date.toLocaleDateString('pt-br', {
				year: 'numeric',
				month: 'long',
				day: 'numeric'
			})
		}
	</time>
</div>
