---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

import Layout from './Page.astro'
import Header from '../components/Header.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, pubDate, heroImage } = Astro.props
---

<Layout titleAppend={title}>
	<Header />
	<main class="mx-auto my-8 max-w-[100dvw] px-4 md:max-w-4xl">
		<article>
			<div class="my-6">
				<h1 class="text-4xl font-bold">{title}</h1>
				<span class="mb-4">
					<FormattedDate date={pubDate} />
				</span>
			</div>
			{
				heroImage && (
					<img
						width={600}
						src={heroImage}
						class="mx-auto my-4"
						alt=""
					/>
				)
			}
			<section class="prose prose-lg prose-neutral prose-a:text-green-700">
				<slot />
			</section>
		</article>
	</main>
</Layout>
